{% extends 'base.html' %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block content %}

<ul class="list-group list-group-action mb-5">
    <li class="list-group-item list-group-item-action"><b>Username: </b> {{ user.username }}</li>
    <li class="list-group-item list-group-item-action"><b>Email: </b> {{ user.email }}</li>
    <li class="list-group-item list-group-item-action"><b>Кол-во статей: </b> {{ total_articles }}</li>
    <li class="list-group-item list-group-item-action"><b>Кол-во комментариев: </b> {{ total_comments }}</li>
    <li class="list-group-item list-group-item-action"><b>Кол-во лайков: </b> {{ total_likes }}</li>
    <li class="list-group-item list-group-item-action"><b>Кол-во дизлайков: </b></li>
    <li class="list-group-item list-group-item-action"><b>На сайте: </b></li>
</ul>


<div class="row row-gap-4">
    {% for article in articles %}
    <div class="col-6">{% include 'components/_article.html' %}</div>
    {% endfor %}
</div>
{% endblock %}